//Fonts
$font-title: "Imperial Script", cursive;
$font-content: "Google Sans Flex", sans-serif;

//Färger
$background-color-primary: #080909;
$background-color-secondary: #001514;
$background-color-tertiary: #200404;
$background-color-quaternary: #5d4306;
$background-color-quinary: #ffffff;

$text-color-primary: #ffffff;
